body {
    font-family: Arial, sans-serif;
           background-color: #f4f4f4;
           text-align: center;
       }

       h1 {
           color: #ffffff;
       }

       input[type="number"] {
           width: 150px;
           padding: 10px;
           margin: 10px;
           border: 2px solid #000000;
           border-radius: 5px;
       }

       select {
           width: 150px;
           padding: 10px;
           margin: 10px;
           border: 2px solid rgb(34, 5, 68);
           border-radius: 5px;
       }

       button {
           padding: 10px 20px;
           background-color: #3d1057;
           color: white;
           border: none;
           border-radius: 5px;
           cursor: pointer;
       }

       button:hover {
           background-color: #14ce1d;
       }

       p {
           font-size: 20px;
           color: #333;
       }