/*fonts----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*Botões---------------------------------*/
.butoes{
    margin: 360px;
    text-align: center;
}
.btn{
    border: 1px solid #2c3e50;
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;

}

.btn1{
color: #2c3e50;
}
.btn2,.btn3{
    color: #fff;
}

.btn1:hover{
    color: #fff;

}
.btn2:hover,.btn3:hover{
    color: #2c3e50;

}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #2c3e50;
    z-index: -1;
    transition: 0.8s;

}
.btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;

}
.btn2::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

/*---------------------------------------*/